
/.vs
/Source/.vs
/Source/bin
/Source/bin-x86
/Source/Fonts
/Source/FrameServer/.vs
/Source/FrameServer/FrameServer.vcxproj.user
/Source/FrameServer/Win32
/Source/FrameServer/x64
/Source/obj
/Source/packages
/Source/StaxRip.vbproj.user
/Source/Tools/AutoCrop/.vs
/Source/Tools/AutoCrop/obj
/Source/VideoData
/Source/TaskDialog/obj
/Source/TaskDialog/WPFTest/bin
/Source/TaskDialog/WPFTest/obj
