
/.vs
/bin
/bin-x86
/docs/_build
/Fonts
/FrameServer/.vs
/FrameServer/FrameServer.vcxproj.user
/FrameServer/Win32
/FrameServer/x64
/obj
/packages
/StaxRip.vbproj.user
/Tools/AutoCrop/.vs
/Tools/AutoCrop/obj
/VideoData
